<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation=" http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <configuration-properties doc:name="Configuration properties" doc:id="f0b8b6ad-1fa8-4a08-80e1-cfc8c3b9b2f8" file="config\default-properties.yaml" />
    <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="973a4303-75d1-4529-9cbe-cb4b9f9f655d">
        <http:listener-connection host="0.0.0.0" port="8082" />
    </http:listener-config>
    <apikit:config name="main-config" api="main.raml" outboundHeadersMapName="outboundHeadersMapName" httpStatusVarName="httpStatus" />
	<db:config name="Database_Config" doc:name="Database Config" doc:id="4fc69c33-1b9e-438e-9ea1-ebae89f1fd6d" >
		<db:my-sql-connection host="${db.host}" port="${db.port}" user="${db.user}" password="${db.password}" database="${db.name}" />
	</db:config>
	<configuration-properties doc:name="Configuration properties" doc:id="7ecfbf97-0cb0-4262-bf11-a0479d7ef670" file="config/${mule.env}-properties.yaml" />
	<global-property doc:name="Global Property" doc:id="1fe4fdb7-0822-4594-a7b4-17c32ae91102" name="mule.env" value="dev" />
</mule>
